
.nav-bar{
  padding:0 0 4.5rem;}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: "sans-serif";
}
.products{
  background-color:#628E90;
  display: flex;
}
.list-item{
  font-family:sans-serif ;
  font-size: 22px;
  font-weight:bold; 
  color:#D8D9CF;
}
.text{
  font-size: 22px;
  font-family: serif;
}
/* .product-list{
  display: flex;
} */
.footer{
  display: flex;
  justify-content: space-between;
  padding-top: 40PX;
  background-color:#628E90 ;
}
#header-image{
  width: 50px;
  height: 50px;
  
}
/* #video{
  width: 75px;
  height: 50px;
} */
.section-heading{
  display: flex;
  justify-content: center;
  padding-top: 25PX;
  padding-bottom: 25PX;
}